body {
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #755139;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #755139;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #A07855;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #A07855;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #F9EAC3;
}

hr {
  width: 4%;
  border-top: 6px dotted #8DA19E;
  margin: 100px auto;
}

.top-container {
  background-color: #F9EAC3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #C6AC95;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.apple-logo {
  position: absolute;
  width: 50px;
  right: 10%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.android-logo {
  position: absolute;
  width: 50px;
  left: 10%;
}

.mobile-img {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.math-img {
  width: 25%;
  float: right;
  margin-left: 20px;
}

.skill-icon {
  width:80px;
  float: left;
  margin-right: 20px;
}

.skill-description {
  clear: left;
}

.avatar {
  width: 140px
}

.footer-link {
  color: #755139;
  margin: 20px 10px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #755139;
  background: linear-gradient(top,  #755139,  #A07855);
  background: -ms-linear-gradient(top,  #755139,  #A07855);
  background: -webkit-gradient(linear, left top, left bottom, from(#755139), to(#A07855));
  background: -webkit-linear-gradient(top,  #755139 0%,#A07855 100%);
  background: -o-linear-gradient(top,  #755139 0%,#A07855 100%);
  background: -moz-linear-gradient(top,  #755139,  #A07855);
  text-decoration: none;
}
.btn:hover {
  background: #A07855;
  background: linear-gradient(top,  #A07855,  #755139);
  background: -ms-linear-gradient(top,  #A07855,  #755139);
  background: -webkit-gradient(linear, left top, left bottom, from(#A07855), to(#755139));
  background: -webkit-linear-gradient(top,  #A07855 0%,#755139 100%);
  background: -o-linear-gradient(top,  #A07855 0%,#755139 100%);
  background: -moz-linear-gradient(top,  #A07855,  #755139);
  text-decoration: none;
}
